[Unit]
Description=sysd real sense daemon
Documentation=no
After=sysd_roscore.service
Before=sysd_slam.service
Requires=sysd_roscore.service
Wants=no

[Service]
EnvironmentFile=no
ExecStart=/usr/sbin/sysd-real-sense
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target graphic.target
